/* Experience page styling */

#innovation-transformation {
  .btn-business {
    margin-top: 1rem;
  }

  .img-border {
    border: 1.5px solid $orange;
    height: 395px;
    width: 553px;
    position: absolute;
    border-top-left-radius: 75px;
    left: -10px;
    bottom: 25px;
    z-index: -1;
  }
  .img-container {
    img {
      height: 395px;
      width: 557px;
    }
  }
  .card {
    z-index: 1;
    margin-top: 6rem;
    margin-left: 40px;
    h1 {
      font-family: MinionWebPro;
      font-size: 1.8rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      color: #061134;
    }
    p {
      font-family: ProximaNova;
      font-size: 20px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.08;
      letter-spacing: normal;
      text-align: left;
      color: #061134;
      word-wrap: break-word;
    }
  }
}

.innovation-transformation-divider-bar::after {
  height: 18.5rem !important;
  // margin-top: 539px;
}
