/* Experience page styling */

#experiential-learning {
  // .btn-business {
  //   margin-top: 1.8rem;
  // }

  .img-border {
    border: 1.5px solid $orange;
    height: 395px;
    width: 553px;
    position: absolute;
    border-top-left-radius: 75px;
    left: -10px;
    bottom: 25px;
    z-index: -1;
  }
  .img-container {
    img {
      height: 395px;
      width: 557px;
    }
  }
  .card {
    z-index: 1;
    margin-top: 6.1rem;
    margin-left: 36px;
    h1 {
      font-family: MinionWebPro;
      font-size: 1.9rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      color: #061134;
    }
    p {
      font-family: ProximaNova;
      font-size: 17px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2;
      letter-spacing: normal;
      text-align: left;
      color: #061134;
      word-wrap: break-word;
    }
  }
}

.capabilty {
  .point-list {
    .acheiver-container {
      width: 55%;
      h4 {
        font-size: 1.3rem;
      }
    }
  }
}

#what-to-expect {
  .experiential-learning-divider-bar::after {
    height: 8.5rem;
  }
}
