$mobile: 320px;
$tab:768px;

@mixin mobile {
  @media (min-width: #{$mobile})  and (max-width:767px) {
    @content;
  }
}
@mixin tab {
  @media (min-width: #{$tab})  and (max-width:1199px) {
    @content;
  }
}



@media only screen and (min-width: 320px) and (max-width: 478px) {
  br {
    display: none;
  }
  .underline {
    height: 4px;
  }
  .content-header-container {
    margin-bottom: 0px;
  }
  .p40 {
    padding: 0px;
  }
  #predict-fututre #img-bg-circle {
    display: none;
  }
  #predict-fututre .container:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    // padding-top: 3rem;
    // margin-top: 75px;
    height: 100%;
  }
  #predict-fututre {
    // padding-top: calc(100vh - 97vh);
    // padding-top: 3rem;
    .layout-margin {
      margin-top: 75px;
    }
    .card {
      margin-bottom: 1.5rem;
      p {
        margin-bottom: 0px;
      }
    }
  }
  /*Home css*/
  /*----Home Css ----*/
  #home-cover {
    background-image: url(../images/hero_mobile.png);
    background-size: cover;
    .home-content-box-inner {
      top: 50%;
    }
    // height: 90vh;
  }

  .home-content-box-inner h1 {
    font-size: 2rem;
    margin-bottom: .5rem;
    line-height: 1.3;
  }

  .home-content-box-inner h4 {
    font-size: .85rem !important;
    @include marginAuto(80%);
    font-family: ProximaNova;
  }

  .home_desc {
    width: 350px;
  }
  /*----Home Css ----*/
  .img-bg-circle {
    display: none;
  }
  .content-header-container h2 {
    font-size: 1.4rem !important;
  }
  .content-header-body p {
    font-size: 0.9rem !important;
    width: 100% !important;
    text-align: center;
    line-height: 1.5;
    h5 {
      font-size: .8rem;
    }
  }
  .card-title {
    font-size: 1.3rem !important;
  }
  .card.text p label {
    width: 70% !important;
    font-size: 0.85rem;
  }

  /*clients list*/
  .client-list li {
    width: 50%;
  }
  .client_icon {
    width: 100px;
  }
  /*testimonials*/
  .testimonials {
    border-radius: 35px 0 35px;
  }
  .testimonial-item {
    width: 100%;
    padding: 15px 10px;
    .testimonial-container {
      width: 90%;
      h4 {
        height: auto;
        min-height: 15rem;
        font-size: 0.7rem;
        line-height: 2;
      }
      .testimonial-footer h5 {
        span {
          font-size: 0.8rem;
        }
        font-size: 0.7rem;
        top: 0;
      }
    }
  }

  /*predict-future*/
  /*strategy-future*/
  .flex-container {
    flex: 1 1 100%;
  }
  .circle-img-container img {
    height: auto;
    margin-top: 2rem;
  }
  .btn-business {
    font-size: 0.7rem;
    font-weight: normal;
    font-family: ProximaNovaSemiBold;
  }
  .future-header {
    width: 100%;
    h2 {
      font-size: 1.25rem;
    }
  }
  .future-text {
    width: 100%;
    p {
      font-size: 0.9rem !important;
    }
  }
  .point-list {
    li {
      flex: 1 1 100%;
    }
    width: 100%;
  }
  .future-text {
    width: 100%;
    p {
      font-size: 1rem;
    }
  }
  .point-list {
    li {
      flex: 1 1 100%;
    }
    .acheiver-container {
      width: 100%;
      h4 {
        font-size: 1rem;
      }
      .btn-points {
        font-size: 0.8rem;
        img {
          width: 15px;
        }
      }
    }
  }
  .capabilty .point-list .acheiver-container {
    h4 {
      font-size: 1rem;
    }
    width: 100%;
  }
  .capability-width .do-list {
    width: 100%;
  }
  .do-list {
    br {
      display: block;
    }
    @include marginAuto(100%);
    ul li {
      flex: 1 1 100%;
      .card {
        width: 100% !important;
        p {
          height: 175px;
        }
      }
      margin-bottom: 20px;
    }
    .btn-more {
      margin-top: 0px;
    }
  }
  .strategy-container .back-btn {
    margin: 3.5rem 0px 0px 0px !important;
}
.strategy-future-container .back-btn {
  margin: 3.5rem 0px 0px 0px !important;
}
  /*strategy-future*/

  /*Abouts us */
  .future-text {
    .about-text {
      width: 100%;
    }
  }
  .propl-about-container {
    height: 8.5rem;
    border-radius: 0px 35px 0px;
    margin-top: 1rem;
  }
  .test-container img {
    position: absolute;
    top: -20px;
    left: -20px;
    height: 50px;
}
  .love-list {
    li {
      flex: 1 1 100%;
      margin-bottom: 0px;
      .list-container {
        .text {
          width: 100%;
          height: 4rem;
        }
      }
    }
  }
  .contact-container {
    width: 100%;
    .contact-box {
      width: 100%;
    }
    .get-in-touch-bg img {
      height: 125px;
      overflow: visible;
      margin: 10px 30px 0px 15px;
    }
    .text-container {
      p {
        margin: 0;
        width: 100%;
        font-size: 0.8rem;
      }
      .btn-more {
        width: auto;
        margin-top: 5px;
        font-size: 0.7rem;
      }
    }
  }
  .contact-header {
    h4 {
      font-size: 1rem;
    }
    p {
      font-size: 0.7rem;
      margin-bottom: .5rem;
    }
  }
  .success-img {
    display: none;
  }
  .close {
    img {
      width: 0.7rem;
    }
  }
  .contact-left {
    display: none;
  }
  .mobile_message {
    display: flex;
    margin-bottom: 0;
    color: #fff;
    font-family: ProximaNova;
  }
  .modal-content {
    padding: 10px;
  }
  .contact-submit {
    padding: 15px;
  }
  .submit-right {
    flex-direction: column;
    height: 15rem;
  }
  .modal-content {
    border-radius: 35px 0px 35px;
}
}
@media only screen and (min-width: 500px) and (max-width: 800px) {
  #predict-fututre #img-bg-circle {
    right: 90%;
  }
  .card {
    z-index: 9999;
    background: transparent;
  }
  /* h4 {
    font-size: 1.009rem;
  }
  p {
    font-size: 0.1rem;
  } */
}

@media only screen and (min-width: 800px) {
  #predict-fututre #img-bg-circle {
    right: 90%;
  }
  .card {
    z-index: 9999;
    background: transparent;
  }
  /* h4 {
    font-size: 1.2rem;
  } */
}

// Experience page Styling

@include mobile {
  .business-footer-underline {
    margin: 0 auto;
    width: 80vw;
    height: 8px;
    background-color: #ff5050;
    border-radius: 10px;
  }
  section:nth-child(3) {
    margin: 0 !important;
    .card {
      margin: 0 !important;
    }
  }
  #home-navbar,
  #navbar {
    display: none;
  }
  .navbar-brand {
    img {
      margin-top: 1.2rem;
        margin-left: 1.5rem !important;
        width: 90px;
    }
  }
  .back-btn {
    margin-top: 3.5rem!important;
    margin-bottom: 0 !important;
  }
  #mobile-navbar {
    display: block;
    
    nav {
      position: absolute;
      width: 100%;
      height: 8%;
      background-color: transparent;
    }
    // nav{
    //   background-color: #0a101d;
    // }
  }
  .home-mobile-nav {
    margin-bottom: 0 !important;
  }
  #mobile-navbar-fixed {
    display: block;
    background-color: white;
    margin-bottom: 1rem;
    nav {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding-bottom: .5rem;
    background-color: white;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);


      z-index: 999;
    }
  }

  #home {
    margin: 0 !important;
  }
  .get-started-arrow{
    animation: get-started-animation 2.2s ease-in-out infinite;
  }
  @keyframes get-started-animation{
    0%{
      transform: translateY(-50px);
    }
    50%{
      transform: translateY(-30px);
    }
  
    100%{
      transform: translateY(-50px);
    }
  }
 .mobile-menu {
   position: absolute;
   top: 1.2rem;
   right:1.5rem;
    z-index: 5;
    cursor: pointer;

    // &:hover,&:focus,&:focus-within,&:active{
    //   #overlay{
    //     display: block;
    //     z-index: 999;
    //   }
    // }

    .close-btn{
      float: right;
      position: absolute;
      top: 1.2rem;
   right:1.5rem;
      z-index: 999999999;
    }
  }
  .overlay-content{
    margin: 2rem 0.5rem;
    overflow: hidden;
  }
#overlay {
  height: 100vh;
  width: 100vw;
  background: #0b1120;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  ul {
      li {
        padding: .5rem;
        font-family: ProximaNovaSemiBold;
        .custom-dropdown-menu {
          width: 100%;

          position: relative;
          background-color: transparent!important;
          box-shadow: none!important;
          li{
            padding: .2rem;
            width: 100%;
            list-style-type: none;
            &:nth-child(n+2){
              opacity: 0.8;
              margin-left: .7rem!important;
            }
            .dropdown-item{
              padding: 0.2rem!important;
            }
          }
        }

        a {
          color: white;
          text-decoration: none;
          text-align: left !important;
          font-family: ProximaNovaSemiBold;
          font-size: 0.8em;
         
        }
        a:hover,
        a:active,
        a:focus {
          background-color: transparent;
          color: $orange;
        }
      }
    }
  }

  #business-design-sprint,
  #solution-design,
  #solution-delivery,
  #growth-strategy,
  #growth-experiments,
  #entrepreneur-residence,
  #innovation-transformation,
  #experiential-learning {
    // .back-btn{
    //   margin-left: 0;
    // }
    .img-container {
      // display: none;
      img {
        margin-top: 1rem;
        width: 100% !important;
        height: 223px !important;
      }
      h1{
        font-size:1.4rem!important;
      }
    }
    .card {
      margin-left: 0 !important;
      width: 100% !important;
      .card-body {
        width: 100% !important;
        padding-right: 0 !important;
        .card-title {
          font-size: 1.2rem !important;
        }
        .card-body-text {
          font-size: 0.8rem;
        }
      }
    }
  }
  #desirable {
    br {
      display: block;
    }
    h3 {
      font-size: 1.4rem!important;
    }
    .card-container {
      height: 170px !important;
      margin: 1rem 0 !important;
      padding: 0 !important;
      .card {
        margin: 0 auto;
        width: 75% !important;
        height: 100% !important;
        padding: 0;
        margin: 0 auto;
        img {
          width: 70px !important;
          height: 70px !important;
        }
        .card-body {
          font-size: 0.85rem;
          height: 100%;
        }
      }
    }
    padding-bottom: 40px;
  }
  #what-to-expect {
    h3{
      font-size:1.4rem!important;
      margin-bottom: 0;
    }
    .btn-business {
      margin-top: 25px;
    }
    .section-starter {
      margin-top: 75px !important;
    }
    .col-md-6:nth-child(odd) {
      .card:nth-child(1) {
        margin-left: 0!important;
      }
    }
    .col-md-6:nth-child(even) {
      .card:nth-child(1) {
        margin-left: 0!important;
      }
    }
    .divider-bar::after {
      content: null;
      width: 0;
      height: 0;
    }
    .divider-btn {
      margin-top: 20px;
      .what-we-expect-underline {
        margin: 0 20px;
        width: 50px;
      }
    }
    .card {
      width: 100% !important;
      height: 100% !important;
      margin: 2rem auto 0 0 !important;
      padding: 0 !important;
      .card-title{
          font-size: 1rem !important;
      }
      .card-body {
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
      }
    }
  }
  #loved-by {
    .section-starter {
      margin-top: 75px !important;
    }
  }

  .business-footer-underline {
    width: 80vw !important;
    height: 5px !important;
  }
  #footer {
    height: 50rem !important;
.footer{
  margin: 0!important;
  width: 100%;

}  
  .footer-card {
      text-align: left;
      margin: 0 !important;
      ul {
        margin: 0 !important;
      }
      li {
        text-align: left;
        a {
          padding: 0;
        }
      }
    }
   
    .all-rights {
      display: block;
    }
    #footer-logo-container {
      .footer-img {
        width: 100px;
      }
      li:nth-child(3) {
     
        display: block !important;
        a {
          margin: 2rem 0;
        }
      }
      .footer-bg-circle {
        display: none;
      }
      .footer-copy-right{
        margin-top:2rem!important;
      }
    }
  }
}


@include tab{ 
  .business-footer-underline {
    margin: 0 auto;
    width: 80vw;
    height: 8px;
    background-color: #ff5050;
    border-radius: 10px;
  }
  // section:nth-child(3) {
  //   margin: 0 !important;
  //   .card {
  //     margin: 0 !important;
  //   }
  // }
  #home-navbar,
  #navbar {
    display: none;
  }
  .navbar-brand {
    img {
      margin-top: 1.2rem;
        margin-left: 1.5rem !important;
        width: 90px;
    }
  }
  .back-btn {
    margin-top: 3.5rem!important;
    margin-bottom: 0 !important;
  }
  #mobile-navbar {
    display: block;
    
    nav {
      position: absolute;
      width: 100%;
      height: 8%;
      background-color: transparent;
    }
    // nav{
    //   background-color: #0a101d;
    // }
  }
  #mobile-navbar-fixed {
    display: block;
    background-color: white;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);

    nav {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding-bottom: .5rem;
      background-color: white;
      box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);


      z-index: 999999999;
    }
  }

  #home {
    margin: 0 !important;
  }
  .get-started-arrow{
    animation: get-started-animation 2.2s ease-in-out infinite;
  }
  @keyframes get-started-animation{
    0%{
      transform: translateY(-50px);
    }
    50%{
      transform: translateY(-30px);
    }
  
    100%{
      transform: translateY(-50px);
    }
  }
 .mobile-menu {
   position: absolute;
   top: 1.2rem;
   right:1.5rem;
    z-index: 5;
    cursor: pointer;

    // &:hover,&:focus,&:focus-within,&:active{
    //   #overlay{
    //     display: block;
    //     z-index: 999;
    //   }
    // }

    .close-btn{
      float: right;
      position: absolute;
      top: 1.2rem;
   right:1.5rem;
      z-index: 999999999;
    }
  }
  .overlay-content{
    margin: 2rem 0.5rem;
    overflow: hidden;
  }
#overlay {
  height: 100vh;
  width: 100vw;
  background: #0b1120;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  ul {
    overflow: auto;
      position: relative;
      li {
        text-align: left;
        padding: .7rem;
        list-style-type: none;
        font-family: ProximaNovaSemiBold;

        .custom-dropdown-menu {
          width: 100%;
          background-color: #0b1120 !important;
          box-shadow: none !important;
          text-align: left; 
          }
          li {
            width: 100%;
            list-style-type: none;
            font-family: ProximaNovaSemiBold;
            margin: 0.2px auto !important;
            background-color: #0b1120 !important;
            border: 0.5px solid #0b1120 !important;
            padding: 0 !important;
            text-align: left !important;
          }
         
        a {
          color: white;
          text-decoration: none;
          text-align: left !important;
          font-family: ProximaNovaSemiBold;
          font-size: 0.8em;
          // &:hover{
          //   background-color: rgba(0, 0, 0, 0.842);
          //   color: $orange;
          // }
        }
        a:hover,
        a:active,
        a:focus {
          background-color: transparent;
          color: $orange;
        }
      }
    }
  }

  #business-design-sprint,
  #solution-design,
  #solution-delivery,
  #growth-strategy,
  #growth-experiments,
  #entrepreneur-residence,
  #innovation-transformation,
  #experiential-learning {
    // .back-btn{
    //   margin-left: 0;
    // }
    .img-container {
      // display: none;
      img {
        margin-top: 1rem;
        width: 400px !important;
        height: 286px!important;
      }
    }
    .card {
      margin-left: 0 !important;
      width: 100% !important;
      .card-body {
        width: 100% !important;
        padding-right: 0 !important;
        .card-title {
          font-size: 1.2rem !important;
        }
        .card-body-text {
          font-size: 0.8rem;
        }
      }
    }
  }
  #desirable {
    br {
      display: block;
    }
    h3 {
      font-size: 1.5rem;
      
    }
    .card-container {
      height: 170px !important;
      margin: 1rem 0 !important;
      padding: 0 !important;
      flex: 0 0 33.333333%;
      .card {
        margin: 0 auto;
        width: 75% !important;
        height: 100% !important;
        padding: 0;
        margin: 0 auto;
        img {
          width: 70px !important;
          height: 70px !important;
        }
        .card-body {
          font-size: 0.85rem;
          height: 100%;
        }
      }
    }
    padding-bottom: 40px;
  }
  #what-to-expect {

    .divider-bar::after {
        margin-top: 2.5rem;
        height: 130%;
    }
    
    .btn-business {
      margin-top: 25px;
      width: 200px;
    }
    .section-starter {
      margin-top: 75px !important;
    }
    .col-md-6:nth-child(odd) {
      .card:nth-child(1) {
        margin-left: 1.5rem!important;
      }
    }
    .col-md-6:nth-child(even) {
      .card:nth-child(1) {
        margin-left:0 !important;
      }
    }
    
    .break{
      display: none;
    }

    .card {
      width: 90% !important;
      height: 100% !important;
      margin: 2rem auto 0 0 !important;
      padding: 0 !important;

      .card-body {
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
      }
    }
  }
  #loved-by {
    .section-starter {
      margin-top: 75px !important;
    }
  }

  .business-footer-underline {
    width: 80vw !important;
    height: 5px !important;
  }
  #footer {
    height: 30rem !important;
.footer{
  margin: 0!important;
  width: 100%;

}  
  .footer-card {
      text-align: left;
      margin: 0 !important;
      ul {
        margin: 0 !important;
      }
      li {
        text-align: left;
        a {
          padding: 0;
        }
      }
    }
   
    .all-rights {
      display: block;
    }
    #footer-logo-container {
      .footer-img {
        width: 100px;
      }
      li:nth-child(3) {
     
        display: block !important;
        .footer-copy-right{
          margin-top: 2rem;
        }
        a {
          margin: 2rem 0!important;
        }
      }
      .footer-bg-circle {
        position: absolute;
        top: 0;
        right: -15%;
        bottom:0;
        img {
          animation: bg-circle-rotate 10s linear infinite;
        }
      }
    }
  }
}