$mobile: 320px;

@mixin mobile {
  @media (min-width: #{$mobile})  and (max-width:1000px) {
    @content;
  }
}
@media only screen and (min-width:1000.5px) and (max-width:1200px){
  .nav-bg{
    background-color:#0b1120;
    padding: 1rem 2rem .5rem 2rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 478px) {
  br {
    display: none;
  }
  .p40 {
    padding: 0px;
  }
  #predict-fututre #img-bg-circle {
    display: none;
  }
  /*Home css*/
  /*----Home Css ----*/

  .home-content-box-inner h1 {
    font-size: 1.65rem;
    margin-bottom: 1.5rem;
  }

  .home-content-box-inner h4 {
    font-size: 1rem !important;
    @include marginAuto(80%);
  }

  .home_desc {
    width: 350px;
  }
  /*----Home Css ----*/
  .img-bg-circle {
    display: none;
  }
  .content-header-container h2 {
    font-size: 1.4rem !important;
  }
  .content-header-body p {
    font-size: 0.9rem !important;
    width: 100% !important;
    text-align: center;
    line-height: 1.5;
  }
  .card-title {
    font-size: 1rem !important;
  }
  .card.text p label {
    width: 70% !important;
    font-size: 0.85rem;
  }

  /*clients list*/
  .client-list li {
    width: 50%;
  }
  .client_icon {
    width: 100px;
  }
  /*testimonials*/
  .item {
    width: 100%;
    padding: 30px 20px;
    .testimonial-container {
      h4 {
        height: auto;
        font-size: 0.7rem;
        line-height: 2;
      }
      .testimonial-footer h5 {
        span {
          font-size: 0.8rem;
        }
        font-size: 0.7rem;
        top: 5px;
      }
    }
  }

  /*predict-future*/
  /*strategy-future*/
  .flex-container {
    flex: 1 1 100%;
  }
  .btn-business {
    font-size: 12px;
  }
  .future-header {
    width: 100%;
    h2 {
      font-size: 1.25rem;
    }
  }
  .future-text {
    width: 100%;
    p {
      font-size: 0.9rem !important;
    }
  }
  .point-list {
    li {
      flex: 1 1 100%;
    }
    width: 100%;
  }
  .future-text {
    width: 100%;
    p {
      font-size: 1rem;
    }
  }
  .point-list {
    li {
      flex: 1 1 100%;
    }
    .acheiver-container {
      width: 100%;
      h4 {
        font-size: 1rem;
      }
      .btn-points {
        font-size: 0.8rem;
        img {
          width: 15px;
        }
      }
    }
  }
  .capabilty .point-list .acheiver-container {
    h4 {
      font-size: 1rem;
    }
    width: 100%;
  }
  .capability-width .do-list {
    width: 100%;
  }
  .do-list {
    @include marginAuto(100%);
    ul li {
      flex: 1 1 100%;
      .card {
        width: 100% !important;
      }
      margin-bottom: 20px;
    }
    .btn-more {
      margin-top: 0px;
    }
  }
  /*strategy-future*/

  /*Abouts us */
  .propl-about-container {
    height: 8.5rem;
  }
  .love-list {
    li {
      flex: 1 1 100%;
      margin-bottom: 0px;
      .list-container {
        .text {
          width: 100%;
          height: 4rem;
        }
      }
    }
  }
  .contact-container {
    width: 100%;
    .contact-box {
      width: 100%;
    }
    .get-in-touch-bg img {
      height: 125px;
      overflow: visible;
      margin: 10px 30px 0px 15px;
    }
    .text-container {
      p {
        margin: 0;
        width: 100%;
        font-size: 0.8rem;
      }
      .btn-more {
        width: auto;
        margin-top: 5px;
        font-size: 0.7rem;
      }
    }
  }
  .contact-header {
    h4 {
      font-size: 1rem;
    }
    p {
      font-size: 0.7rem;
    }
  }
  .success-img {
    display: none;
  }
  .close {
    img {
      width: 0.7rem;
    }
  }
  .contact-left {
    display: none;
  }
  .modal-content {
    padding: 10px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 800px) {
  #predict-fututre #img-bg-circle {
    right: 90%;
  }
  .card {
    z-index: 9999;
    background: transparent;
  }
  /* h4 {
    font-size: 1.009rem;
  }
  p {
    font-size: 0.1rem;
  } */
}

@media only screen and (min-width: 800px) {
  #predict-fututre #img-bg-circle {
    right: 90%;
  }
  .card {
    z-index: 9999;
    background: transparent;
  }
  /* h4 {
    font-size: 1.2rem;
  } */
}

// Experience page Styling

@include mobile {
  section:nth-child(3) {
    margin: 0 !important;
    .card {
      margin: 0 !important;
    }
  }
  #home-navbar,
  #navbar {
    display: none;
  }
  .navbar-brand {
    margin-left: 1rem;
  }
  .back-btn {
    margin-bottom: 0 !important;
  }
  #mobile-navbar {
    display: block;
    nav {
      position: absolute;
      width: 100%;
      height: 11%;
      background-color: #0b1120;
    }
    // nav{
    //   background-color: #0a101d;
    // }
  }
  #mobile-navbar-fixed {
    display: block;
    background-color: #0b1120;
    nav {
      position: sticky;
      top: 0;
      z-index: 999999999;
    }
  }
  #home {
    margin: 0 !important;
  }

  #overlay-button {
    position: absolute;
    right: 0;
    padding: 26px 11px;
    z-index: 5;
    cursor: pointer;
    user-select: none;
    span {
      height: 4px;
      width: 25px;
      border-radius: 2px;
      background-color: white;
      position: relative;
      display: block;
      transition: all 0.2s ease-in-out;
      &:before {
        top: -10px;
        visibility: visible;
      }
      &:after {
        top: 10px;
      }
      &:before,
      &:after {
        height: 4px;
        width: 25px;
        border-radius: 2px;
        background-color: white;
        position: absolute;
        content: '';
        transition: all 0.2s ease-in-out;
      }
    }
  }

  input[type='checkbox'] {
    display: none;
  }

  input[type='checkbox']:checked ~ #overlay {
    visibility: visible;
  }

  input[type='checkbox']:checked ~ #overlay-button {
    &:hover span,
    span {
      background: transparent;
    }
    span {
      &:before {
        transform: rotate(45deg) translate(7px, 7px);
        opacity: 1;
      }
      &:after {
        transform: rotate(-45deg) translate(7px, -7px);
      }
    }
  }

  #overlay {
    height: 100vh;
    width: 100vw;
    background: #050505fa;
    z-index: 2;
    top: 0;
    visibility: hidden;
    position: fixed;
    transition: all 0.3s;
    &.active {
      visibility: visible;
    }
    ul {
      overflow: auto;
      position: relative;
      li {
        text-align: center;
        padding: 1rem;
        list-style-type: none;

        .custom-dropdown-menu {
          width: 100%;
          background-color: rgba(0, 0, 0, 0.842) !important;
          box-shadow: none !important;
          text-align: center;
          li {
            width: 100%;
            list-style-type: none;
            margin: 0.2px auto !important;
            background-color: rgba(0, 0, 0, 0.842) !important;
            border: 0.5px solid black !important;
            padding: 0 !important;
            text-align: center !important;
          }
        }

        a {
          color: white;
          text-decoration: none;
          text-align: center !important;
          font-size: 0.8em;
          // &:hover{
          //   background-color: rgba(0, 0, 0, 0.842);
          //   color: $orange;
          // }
        }
        a:hover,
        a:active,
        a:focus {
          background-color: transparent;
          color: $orange;
        }
      }
    }
  }

  #business-design-sprint,
  #solution-design,
  #solution-delivery,
  #growth-strategy,
  #growth-experiments,
  #entrepreneur-residence,
  #innovation-transformation,
  #experiential-learning {
    .img-container,
    .img-border {
      display: none;
    }
    .card {
      margin-left: 0 !important;
      width: 100% !important;
      .card-body {
        width: 100% !important;
        padding-right: 0 !important;
        .card-title {
          font-size: 1.2rem !important;
        }
        .card-body-text {
          font-size: 0.8rem;
        }
      }
    }
  }
  #desirable {
    h3 {
      font-size: 1.5rem;
    }
    .card-container {
      height: 170px !important;
      margin: 1rem 0 !important;
      padding: 0 !important;
      .card {
        margin: 0 auto;
        width: 75% !important;
        height: 100% !important;
        padding: 0;
        margin: 0 auto;
        img {
          width: 70px !important;
          height: 70px !important;
        }
        .card-body {
          font-size: 0.85rem;
          height: 100%;
        }
      }
    }
    padding-bottom: 40px;
  }
  #what-to-expect {
    .section-starter {
      margin-top: 75px !important;
    }
    .divider-bar {
      display: none;
    }
    .divider-btn {
      margin-top: 20px;
      .what-we-expect-underline {
        margin: 0 20px;
        width: 50px;
      }
    }
    .card {
      width: 100% !important;
      height: 100% !important;
      margin: 1rem auto 1rem 0 !important;
      padding: 0 !important;

      .card-body {
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
      }
    }
  }
  #loved-by {
    .section-starter {
      margin-top: 75px !important;
    }
  }

  .business-footer-underline {
    width: 80vw !important;
    height: 5px !important;
  }
  #footer {
    height: 50rem !important;
    .footer-card {
      text-align: left;
      margin: 0 !important;
      ul {
        margin: 0 !important;
      }
      li {
        text-align: left;
        a {
          padding: 0;
        }
      }
    }
    .all-rights {
      display: block;
    }
    #footer-logo-container {
      .footer-img {
        width: 100px;
      }

      li:nth-child(3) {
        display: block !important;
        a {
          margin: 1rem 0;
        }
      }
      .footer-bg-circle {
        display: none;
      }
    }
  }
}
