* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
  scroll-behavior: smooth;
}

button {
  outline: none !important;
}

a,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: 0 !important;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  text-decoration: none;
  outline: 0;
}

.btn:focus,
.btn:active {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-back {
  color: black !important;
}

.back-btn {
  margin-top: 2rem;
}

@font-face {
  font-family: MinionPro;
  src: url("../Minion Web Pro Bold.ttf");
}

@font-face {
  font-family: ProximaNova;
  src: url("../ProximaNova-Regular.ttf");
}

@font-face {
  font-family: ProximaNovaSemiBold;
  src: url("../ProximaNova-Semibold.ttf");
}

/*mixins for margin 0 auto and custom width*/
#home-navbar {
  margin-top: 0 !important;
}

#mobile-navbar {
  display: none;
}

.nav-bg {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(65%, #0b1120), color-stop(77%, rgba(11, 17, 33, 0)));
  background-image: linear-gradient(to bottom, #0b1120 65%, rgba(11, 17, 33, 0) 77%);
  padding: 0.5rem 10rem;
}

.nav-bg .nav-link {
  color: #fff !important;
  font-size: 0.85rem;
  font-family: ProximaNovaSemiBold;
  margin: 0 0.5rem;
}

.nav-bg .nav-link .nav-link {
  color: #fff !important;
  font-size: 0.85rem;
  font-family: ProximaNovaSemiBold;
  margin: 0 0.5rem;
}

.navbar-content {
  width: 100%;
}

.navbar-bg-onscroll {
  height: 4rem;
  font-size: 0.9rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
  padding: 2.5rem 12rem;
  z-index: 9999;
}

.navbar-bg-onscroll .dropdown-menu {
  margin-top: 28px;
  -webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
}

.navbar-bg-onscroll .nav-item {
  margin: 0 0.2rem;
}

.navbar-bg-onscroll .nav-link {
  font-family: ProximaNovaSemiBold;
  color: white;
  font-size: 0.85rem;
  margin: 0 0.5rem;
  color: #0b1120 !important;
}

.dropdown-item {
  font-size: 0.8rem;
  font-family: ProximaNova;
}

.navbar-brand img {
  width: 145px;
}

.nav-item .nav-link:hover {
  color: #ffffff;
  -webkit-transition: all 0s;
  transition: all 0s;
}

.nav-link:active,
.nav-link:focus {
  color: #ff5050 !important;
}

.nav-link:active .dropdown-icon,
.nav-link:focus .dropdown-icon {
  background-image: url("../images/special_icons/down-arrow-orange.svg") !important;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 9999999;
  width: 20px;
  top: 12px;
  margin-left: 2px;
  -webkit-transition: all 0s;
  transition: all 0s;
}

.nav-link:active .home-dropdown-icon,
.nav-link:focus .home-dropdown-icon {
  background-image: url("../images/special_icons/down-arrow-orange.svg") !important;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 9999999;
  top: 3px;
  left: 3px;
  -webkit-transition: all 0s;
  transition: all 0s;
}

.nav-underline::after {
  position: relative;
  content: '';
  top: 5px;
  display: block;
  margin: 0 auto;
  width: 55px;
  height: .5px;
  border-radius: 10px;
  border-color: #ff5050;
}

.dropdown-icon {
  background-image: url("../images/special_icons/down-arrow-black.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 9999999;
  width: 20px;
  top: 12px;
  margin-left: 2px;
  -webkit-transition: all 0s;
  transition: all 0s;
}

.home-dropdown-icon {
  background-image: url("../images/special_icons/down-arrow-white.png");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 9999999;
  top: 3px;
  left: 3px;
  -webkit-transition: all 0s;
  transition: all 0s;
}

/* common styling 
for all sections start */
section:not(:nth-child(1)) {
  z-index: -99999999999;
}

section:not(:nth-child(1)) .card {
  z-index: 1;
}

.card {
  border: 0;
}

.mt50 {
  margin-top: 50px;
}

.mt100 {
  margin-top: 100px;
}

.mb100 {
  margin-bottom: 100px;
}

.card .group-19-icons {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
}

.col-md-3,
.col-md-4 {
  margin-top: 0.6rem;
}

.btn-more {
  text-align: center;
  width: 120px;
  height: 40px;
  border-color: #ff5050;
  background-color: #ff5050;
  border-radius: 15px 0 15px;
  margin-top: 20px;
  font-family: ProximaNova;
  font-size: 0.75rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-more:hover {
  background: #ff5050 !important;
  border: none;
}

.underline {
  margin: 0 auto;
  width: 50px;
  height: 4px;
  background-color: #ff5050;
  border-radius: 10px;
}

/*Home Section styling*/
#home {
  height: 100%;
  width: 100%;
}

#home-cover {
  height: 100vh;
  background-image: url(../images/rocket-launch-liftoff-long-exposure-23764.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 9999;
}

.home-content-box {
  height: 100%;
  width: 100%;
  display: table;
}

.home-content-box-inner {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.home_desc {
  width: 700px;
  margin: 0 auto;
}

.home-content-box-inner h1 {
  color: #ffffff;
  font-weight: bold;
  font-size: 3.5rem;
  font-family: MinionPro;
  line-height: 0.6;
  margin-top: 2rem;
}

.home-content-box-inner h4 {
  color: #fff;
  font-family: ProximaNova, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1.2px;
  line-height: 1.67;
  margin-top: 20px;
}

.go-down-btn img {
  position: relative;
  top: 85px;
}

/*===Home Section styling*/
/*Clients*/
.client_icon {
  width: 120px;
}

.client-list {
  float: left;
  clear: both;
  text-align: center;
  padding-bottom: 50px;
  margin: 0;
}

.client-list li {
  list-style: none;
  width: 20%;
  float: left;
  margin-top: 20px;
}

/*===Clients*/
/*testimonials*/
.owl-nav {
  display: none;
}

.owl-dots {
  padding-bottom: 20px;
}

.owl-theme .owl-dots .owl-dot span {
  background: #ff5050 !important;
  opacity: 0.4;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: #ff5050;
  opacity: 1;
}

.item {
  width: 75%;
  margin: 0 auto;
  padding: 30px 0;
  margin: 0 auto;
  width: 90%;
  padding: 30px 0;
}

.testimonials {
  background-color: rgba(255, 80, 80, 0.06);
  border-top-left-radius: 75px;
  border-bottom-right-radius: 75px;
}

.testimonial-container h4 {
  line-height: 2.27;
  color: #061134;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: left;
  font-family: ProximaNova;
  height: 150px;
}

.testimonial-container .testimonial-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial-container .testimonial-footer h5 {
  color: #061134;
  line-height: 1.5;
  height: 1.9rem;
  font-size: 0.85rem;
  font-weight: 400;
  text-align: left;
  font-family: ProximaNova;
  position: relative;
  top: 40px;
}

.testimonial-container .testimonial-footer h5 span {
  font-weight: bold;
  font-family: MinionPro;
}

.testimonial-container .testimonial-footer .testimonial-footer h5 {
  color: #061134;
  line-height: 1.5;
  height: 1.9rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  font-family: ProximaNova;
}

.testimonial-container .testimonial-footer .testimonial-footer h5 span {
  font-weight: bold;
  font-family: MinionPro;
}

/*===testimonials*/
/* common styling for all sections end */
/* predict fututre styling start */
#predict-fututre .img-bg-circle {
  position: absolute;
  right: 90%;
  z-index: 10;
}

#predict-fututre .img-bg-circle img {
  width: 350px;
  height: 350px;
  margin-top: 50%;
}

.content-header-container {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.content-header-body h2 {
  font-size: 1.85rem;
  font-weight: bolder;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #061134;
  font-family: MinionPro;
}

.content-header-body p {
  font-size: 0.85rem;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #061134;
  font-family: ProximaNova;
  margin: 0 auto;
  width: 70%;
}

.layout-margin {
  margin: 0 auto;
  width: 90%;
}

#predict-fututre .card-title {
  /* font-weight: normal; */
  font-style: normal;
  line-height: 1.76;
  letter-spacing: normal;
  text-align: center;
  color: #061134;
  font-family: MinionPro;
  font-size: 1.2rem;
}

#predict-fututre .card .card-body {
  text-align: center;
  padding: 0.5rem;
}

#predict-fututre .card-body .card-text {
  font-size: 0.85rem;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.82;
  letter-spacing: normal;
  text-align: center;
  color: #061134;
  margin-top: 15px;
  font-family: ProximaNova;
  height: 5rem;
}

#predict-fututre h4 {
  font-weight: 800;
  font-family: MinionPro;
}

/* predict fututre styling end */
/* we believe styling start */
#we-believe {
  width: 100%;
  overflow: hidden;
}

#we-believe .content-header-body p {
  margin: 0 auto;
  width: 55%;
}

#we-believe .card-body {
  padding: 0.7rem;
}

#we-believe .card-text {
  font-family: ProximaNova;
  font-size: 0.8rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.82;
  letter-spacing: normal;
  text-align: center;
  color: #061134;
}

#we-believe .img-circle-container {
  position: absolute;
  margin-top: 150px;
  width: 130px;
  right: 0;
  overflow: hidden;
}

#we-believe .img-circle-container .img-bg-circle {
  width: 350px;
  overflow: hidden;
}

#we-believe .img-circle-container .img-bg-circle img {
  height: 350px;
  width: 350px;
  overflow: hidden;
}

/* we believe styling end */
/* common footer for all section */
.mt180 {
  margin-top: 180px;
}

#footer {
  background-color: #1a2239;
  overflow: hidden;
  height: 28rem;
}

#footer .footer {
  padding-top: 70px;
  margin: 0 auto;
}

#footer .footer-card > ul {
  height: 200px;
}

#footer .footer-card:nth-child(3) > ul {
  margin-left: 3rem;
}

#footer .footer-card:nth-child(2) > ul {
  margin-left: 1.5rem;
}

#footer .footer-card:nth-child(1) > ul {
  margin-left: 0;
}

#footer .item-main {
  font-family: ProximaNova;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #ff5050;
}

#footer .item-main .item-span {
  opacity: 0.5;
  font-family: ProximaNova;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.86;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

#footer .item {
  font-family: ProximaNova;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff !important;
  text-decoration: underline !important;
}

#footer #footer-logo-container li {
  width: 90%;
  font-family: ProximaNova;
  font-size: 13px;
  line-height: 2.5;
  text-align: left;
  color: #ffffff;
}

#footer #footer-logo-container .btn {
  color: #ffffff;
  font-size: 12px;
  border-radius: 20px 0 20px 0 !important;
}

#footer #footer-logo-container .footer-copy-right {
  line-height: 1.88 !important;
  text-decoration: underline !important;
}

#footer #footer-logo-container .footer-bg-circle {
  position: absolute;
  top: -36%;
  right: -13%;
  bottom: -88%;
}

/* Experience page styling */
.btn-business {
  width: 140px;
  height: 45px;
  padding: 12px 18px;
  border-color: #ff5050;
  background-color: #ff5050;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.btn-business:hover {
  color: #fff !important;
}

#business-design-sprint .btn-business {
  margin-top: 1rem;
}

#business-design-sprint .back-btn {
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.89;
  letter-spacing: normal;
  text-align: left;
  color: #061134;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#business-design-sprint .back-btn img {
  width: 10px;
  margin-right: 7px;
}

#business-design-sprint .back-btn img:hover {
  cursor: pointer;
}

#business-design-sprint .img-border {
  border: 1.5px solid #ff5050;
  height: 395px;
  width: 557px;
  position: absolute;
  border-top-left-radius: 75px;
  left: -10px;
  bottom: 35px;
  z-index: -1;
}

#business-design-sprint .img-container img {
  height: 395px;
  width: 557px;
}

#business-design-sprint .card {
  z-index: -1;
  margin-top: -45px;
  margin-left: 40px;
}

#business-design-sprint .card h1 {
  font-family: MinionWebPro;
  font-weight: bold;
  font-size: 1.8rem;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #061134;
}

#business-design-sprint .card .card-body {
  width: 20rem;
  padding-right: 3.5rem;
}

#business-design-sprint .card p {
  font-family: ProximaNova;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.08;
  letter-spacing: normal;
  text-align: left;
  color: #061134;
  word-wrap: break-word;
}

#desirable {
  margin-top: 120px;
  background-color: #061134;
}

#desirable .section-starter {
  margin-top: 70px;
  margin-bottom: 32px;
}

#desirable .section-header {
  text-align: center;
  font-family: MinionWebPro;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

#desirable .card-container {
  margin-right: 60px;
}

#desirable .row {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#desirable .card {
  text-align: center;
  width: 13rem;
  height: 200px;
  margin-bottom: 182px;
  background-color: #ffffff;
  border-radius: 20px;
  border: solid 1px #707070;
}

#desirable .card img {
  width: 100px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
}

#desirable .card .card-body {
  padding: 0 0.7rem;
  font-family: ProximaNova;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #061134;
}

#what-to-expect .section-starter {
  margin-top: 150px;
  margin-bottom: 32px;
}

#what-to-expect h3 {
  margin-bottom: 60px;
  font-family: MinionWebPro;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #061134;
}

#what-to-expect .business-design-sprint-divider-bar {
  height: 23rem !important;
}

#what-to-expect .divider-bar::after {
  content: '';
  width: 1px;
  height: 18.8rem;
  background-color: grey;
  position: absolute;
  right: 0;
  top: 2.5rem;
}

#what-to-expect .card {
  text-align: center;
  width: 100%;
  height: 14rem;
}

#what-to-expect .card img {
  width: 65px;
  height: 65px;
  margin-top: 0;
  margin-bottom: 23px;
  margin-right: auto;
  margin-left: auto;
}

#what-to-expect .card .card-title {
  font-family: ProximaNova;
  font-size: 1rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #061134;
  margin-bottom: 0.5rem;
}

#what-to-expect .card .card-body {
  padding: 0 1.5rem;
  margin-bottom: 108px;
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.82;
  letter-spacing: normal;
  text-align: center;
  color: #061134;
  word-wrap: break-word;
}

#what-to-expect .divider-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#what-to-expect .divider-btn .what-we-expect-underline {
  margin: 0 40px;
  width: 350px;
  height: 1px;
  background-color: #ff5050;
  border-radius: 10px;
}

#loved-by {
  margin-bottom: 201px;
}

#loved-by .section-starter {
  margin-top: 150px;
}

.business-footer-underline {
  margin: 0 auto;
  width: 70vw;
  height: 8px;
  background-color: #ff5050;
  border-radius: 10px;
}

/* Experience page styling */
#solution-delivery .btn-business {
  margin-top: 1rem;
}

#solution-delivery .back-btn {
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.89;
  letter-spacing: normal;
  text-align: left;
  color: #061134;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#solution-delivery .back-btn img {
  width: 10px;
  margin-right: 7px;
}

#solution-delivery .back-btn img:hover {
  cursor: pointer;
}

#solution-delivery .img-border {
  border: 1.5px solid #ff5050;
  height: 395px;
  width: 553px;
  position: absolute;
  border-top-left-radius: 75px;
  left: -10px;
  bottom: 25px;
  z-index: -1;
}

#solution-delivery .img-container img {
  height: 395px;
  width: 557px;
}

#solution-delivery .card {
  z-index: -1;
}

#solution-delivery .card h1 {
  font-family: MinionWebPro;
  font-size: 1.8rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #061134;
}

#solution-delivery .card p {
  font-family: ProximaNova;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.08;
  letter-spacing: normal;
  text-align: left;
  color: #061134;
  word-wrap: break-word;
}

.solution-delivery-divider-bar::after {
  height: 18.2rem !important;
}

/* Experience page styling */
#innovation-transformation .btn-business {
  margin-top: 1rem;
}

#innovation-transformation .back-btn {
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.89;
  letter-spacing: normal;
  text-align: left;
  color: #061134;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#innovation-transformation .back-btn img {
  width: 10px;
  margin-right: 7px;
}

#innovation-transformation .back-btn img:hover {
  cursor: pointer;
}

#innovation-transformation .img-border {
  border: 1.5px solid #ff5050;
  height: 395px;
  width: 553px;
  position: absolute;
  border-top-left-radius: 75px;
  left: -10px;
  bottom: 25px;
  z-index: -1;
}

#innovation-transformation .img-container img {
  height: 395px;
  width: 557px;
}

#innovation-transformation .card {
  z-index: -1;
  margin-top: -30px;
  margin-left: 50px;
}

#innovation-transformation .card h1 {
  font-family: MinionWebPro;
  font-size: 1.8rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #061134;
}

#innovation-transformation .card p {
  font-family: ProximaNova;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.08;
  letter-spacing: normal;
  text-align: left;
  color: #061134;
  word-wrap: break-word;
}

.innovation-transformation-divider-bar::after {
  height: 18.5rem !important;
}

/* strategy future css*/
.strategy-container {
  margin: 0 auto;
  width: 90%;
}

.circle-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 110%;
}

.circle-img-container img {
  width: 20rem;
}

.future-icon img {
  width: 3rem;
  margin-top: 1rem;
}

.future-header {
  width: 70%;
}

.future-header h2 {
  font-size: 2.5rem;
  font-family: MinionPro;
  text-align: left;
}

.underline-left {
  margin: 0;
}

.future-text {
  width: 75%;
}

.future-text p {
  font-family: ProximaNova;
  font-size: 0.9rem;
}

.btn-back {
  font-size: 0.75rem;
  font-family: ProximaNovaSemiBold;
}

.btn-back img {
  position: relative;
  right: 10px;
  height: 10px;
}

#achieve {
  background: #061134;
}

#achieve .text-white {
  color: #fff;
}

.point-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.point-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.point-list .acheiver-container {
  width: 65%;
  text-align: center;
  margin-bottom: 40px;
}

.point-list .acheiver-container h4 {
  font-family: ProximaNovaSemiBold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  font-size: 1.2rem;
}

.point-list .acheiver-container .btn-points {
  color: #ff5050;
}

.point-list .acheiver-container .btn-points img {
  position: relative;
  left: 15px;
}

.do-list {
  margin: 0 auto;
  width: 90%;
}

.do-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.do-list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
}

.do-list ul li .card {
  padding: 35px 15px;
  border-radius: 1rem;
}

.do-list ul li .card:not(:nth-child(2)) {
  -webkit-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.1);
}

.do-list ul li .card .card-title {
  font-family: MinionPro;
  font-size: 1.5rem;
  line-height: 1.25;
  text-align: center;
}

.do-list ul li .card .card-body {
  padding: 0.5rem;
}

.do-list ul li .card .card-body p {
  font-family: ProximaNova;
  font-size: 0.8rem;
  line-height: 2.08;
  color: #061134;
  text-align: center;
}

.do-list ul li .orange-background {
  background-color: #ff5050;
  color: white !important;
}

.do-list ul li .orange-background p {
  color: #ffffff !important;
}

.do-list ul li .orange-background .underline {
  background: #ffffff;
}

.do-list ul li .orange-background .btn-more {
  background: #ffffff;
  color: #ff5050;
}

.do-list ul li .orange-background .btn-more:hover {
  background: #ffffff !important;
  color: #ff5050 !important;
}

.capability-width .do-list {
  margin: 0 auto;
  width: 60%;
}

/* Experience page styling */
#solution-design .btn-business {
  margin-top: 1rem;
}

#solution-design .back-btn {
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.89;
  letter-spacing: normal;
  text-align: left;
  color: #061134;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#solution-design .back-btn img {
  width: 10px;
  margin-right: 7px;
}

#solution-design .back-btn img:hover {
  cursor: pointer;
}

#solution-design .img-border {
  border: 1.5px solid #ff5050;
  height: 395px;
  width: 553px;
  position: absolute;
  border-top-left-radius: 75px;
  left: -10px;
  bottom: 35px;
  z-index: -1;
}

#solution-design .img-container img {
  height: 395px;
  width: 557px;
}

#solution-design .card {
  z-index: -1;
  margin-top: -45px;
  margin-left: 50px;
}

#solution-design .card h1 {
  font-family: MinionWebPro;
  font-weight: bold;
  font-size: 1.8rem;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #061134;
}

#solution-design .card .card-body {
  width: 20rem;
  padding-right: 3.5rem;
}

#solution-design .card p {
  font-family: ProximaNova;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.08;
  letter-spacing: normal;
  text-align: left;
  color: #061134;
  word-wrap: break-word;
}

.solution-design-divider-bar::after {
  height: 18.5rem !important;
}

/* Experience page styling */
#experiential-learning .btn-business {
  margin-top: 1rem;
}

#experiential-learning .back-btn {
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.89;
  letter-spacing: normal;
  text-align: left;
  color: #061134;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#experiential-learning .back-btn img {
  width: 10px;
  margin-right: 7px;
}

#experiential-learning .back-btn img:hover {
  cursor: pointer;
}

#experiential-learning .img-border {
  border: 1.5px solid #ff5050;
  height: 395px;
  width: 553px;
  position: absolute;
  border-top-left-radius: 75px;
  left: -10px;
  bottom: 25px;
  z-index: -1;
}

#experiential-learning .img-container img {
  height: 395px;
  width: 557px;
}

#experiential-learning .card {
  z-index: 1;
  margin-top: -20px;
  margin-left: 25px;
}

#experiential-learning .card h1 {
  font-family: MinionWebPro;
  font-size: 2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #061134;
}

#experiential-learning .card p {
  font-family: ProximaNova;
  font-size: 19.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #061134;
  word-wrap: break-word;
}

.capabilty .point-list .acheiver-container {
  width: 55%;
}

.capabilty .point-list .acheiver-container h4 {
  font-size: 1.3rem;
}

#what-to-expect .experiential-learning-divider-bar::after {
  height: 8.5rem;
}

/* Experience page styling */
#growth-strategy .btn-business {
  margin-top: 2rem;
}

#growth-strategy .back-btn {
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.89;
  letter-spacing: normal;
  text-align: left;
  color: #061134;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#growth-strategy .back-btn img {
  width: 10px;
  margin-right: 7px;
}

#growth-strategy .back-btn img:hover {
  cursor: pointer;
}

#growth-strategy .img-border {
  border: 1.5px solid #ff5050;
  height: 395px;
  width: 553px;
  position: absolute;
  border-top-left-radius: 75px;
  left: -10px;
  bottom: 25px;
  z-index: -1;
}

#growth-strategy .img-container img {
  height: 395px;
  width: 557px;
}

#growth-strategy .card {
  z-index: 1;
  width: 18rem !important;
  margin-top: -45px;
  margin-left: 40px;
}

#growth-strategy .card h1 {
  font-family: MinionWebPro;
  font-size: 1.9rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #061134;
}

#growth-strategy .card p {
  font-family: ProximaNova;
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.08;
  letter-spacing: normal;
  text-align: left;
  color: #061134;
  word-wrap: break-word;
}

.growth-strategy-divider-bar::after {
  height: 18.5rem !important;
}

/* Experience page styling */
#growth-experiments .btn-business {
  margin-top: 1rem;
}

#growth-experiments .back-btn {
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.89;
  letter-spacing: normal;
  text-align: left;
  color: #061134;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#growth-experiments .back-btn img {
  width: 10px;
  margin-right: 7px;
}

#growth-experiments .back-btn img:hover {
  cursor: pointer;
}

#growth-experiments .img-border {
  border: 1.5px solid #ff5050;
  height: 395px;
  width: 553px;
  position: absolute;
  border-top-left-radius: 75px;
  left: -10px;
  bottom: 25px;
  z-index: -1;
}

#growth-experiments .img-container img {
  height: 395px;
  width: 557px;
}

#growth-experiments .card {
  z-index: 1;
}

#growth-experiments .card h1 {
  font-family: MinionWebPro;
  font-size: 2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #061134;
}

#growth-experiments .card p {
  font-family: ProximaNova;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.08;
  letter-spacing: normal;
  text-align: left;
  color: #061134;
  word-wrap: break-word;
}

.growth-experiments-divider-bar::after {
  height: 18.4rem !important;
}

/* Experience page styling */
#entrepreneur-residence .btn-business {
  margin-top: 1rem !important;
}

#entrepreneur-residence .back-btn {
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.89;
  letter-spacing: normal;
  text-align: left;
  color: #061134;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#entrepreneur-residence .back-btn img {
  width: 10px;
  margin-right: 7px;
}

#entrepreneur-residence .back-btn img:hover {
  cursor: pointer;
}

#entrepreneur-residence .img-border {
  border: 1.5px solid #ff5050;
  height: 395px;
  width: 553px;
  position: absolute;
  border-top-left-radius: 75px;
  left: -10px;
  bottom: 25px;
  z-index: -1;
}

#entrepreneur-residence .img-container img {
  height: 395px;
  width: 557px;
}

#entrepreneur-residence .card {
  margin-top: -20px;
  margin-left: 50px;
}

#entrepreneur-residence .card h1 {
  font-family: MinionWebPro;
  font-size: 1.8rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #061134;
}

#entrepreneur-residence .card p {
  font-family: ProximaNova;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.08;
  letter-spacing: normal;
  text-align: left;
  color: #061134;
  word-wrap: break-word;
}

.entrepreneur-residence-divider-bar::after {
  height: 18.4rem !important;
}

.propl-about-container {
  height: 18rem;
  background-color: #ff5050;
  border-radius: 75px 0px 75px;
}

.propl-about-container img {
  width: 60%;
}

.love-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.love-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.love-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.5rem;
}

.love-list li .list-container .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.love-list li .list-container .img-box img {
  height: 75px;
}

.love-list li .list-container .title h4 {
  font-family: ProximaNovaBold;
  font-weight: 600;
  font-size: 1rem;
}

.love-list li .list-container .text {
  font-family: ProximaNova;
  line-height: 1.82;
  font-size: 0.75rem;
  margin: 0 auto;
  width: 80%;
  height: 5rem;
}

.love-list li .list-container .text p {
  margin-bottom: 0;
}

.contact-container {
  margin: 0 auto;
  width: 60%;
}

.contact-container .contact-box {
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact-container .get-in-touch-bg img {
  height: 250px;
  overflow: visible;
  margin: -60px 30px 0px 30px;
}

.contact-container .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-container .text-container p {
  font-family: ProximaNova;
  width: 70%;
}

.contact-us-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact-us-container img {
  height: 23rem;
}

.modal-backdrop {
  z-index: 100000 !important;
}

.modal {
  z-index: 100001 !important;
}

.modal-content {
  border-radius: 75px 0px 75px;
}

.modal-lg {
  max-width: 1000px !important;
}

.floating-form {
  width: 320px;
}

.note {
  color: #939090;
  font-size: 0.6rem;
  line-height: 2.86;
  font-family: ProximaNova;
}

.policy {
  font-size: 0.55rem;
  font-family: ProximaNova;
  color: #061134;
  margin-bottom: 0;
}

.policy span {
  color: #ff5050;
  text-decoration: underline;
}

.close {
  position: relative;
  top: -39px;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  opacity: 1;
  color: #ffffff;
}

.close:hover {
  color: #ffffff;
}

.modal-body {
  padding: 0;
}

.message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 5px;
}

.orange-background {
  background-color: #ff5050;
}

.orange-background .underline {
  background-color: #ffffff;
}

.orange-background .contact-header h4 {
  color: #ffffff;
  font-family: MinionPro;
  font-size: 1.5rem;
}

.orange-background .contact-header p {
  font-family: ProximaNova;
  font-size: 1rem;
  color: #ffffff;
}

.contact-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.submit-left {
  max-width: 60%;
}

.success-img {
  background-image: url(../images/special_icons/contact-success.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 20rem;
  background-size: cover;
  width: 45rem;
}

/****  floating-Lable style start ****/
.floating-label {
  position: relative;
  margin-bottom: 40px;
}

.floating-label:nth-child(3) {
  margin-bottom: 10px;
}

.floating-input,
.floating-select {
  font-size: 14px;
  padding: 4px 4px;
  display: block;
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #757575;
}

.floating-input:focus,
.floating-select:focus {
  outline: none;
  border-bottom: 2px solid #5264ae;
}

.floating-label label {
  color: #061134;
  font-size: 14px;
  font-weight: 800;
  position: absolute;
  pointer-events: none;
  font-family: ProximaNova;
  left: 5px;
  top: -10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.floating-input:focus ~ label,
.floating-input:not(:placeholder-shown) ~ label {
  top: -18px;
  font-size: 14px;
  color: #5264ae;
}

.floating-select:focus ~ label,
.floating-select:not([value='']):valid ~ label {
  top: -18px;
  font-size: 14px;
  color: #5264ae;
}

/* active state */
.floating-input:focus ~ .bar:before,
.floating-input:focus ~ .bar:after,
.floating-select:focus ~ .bar:before,
.floating-select:focus ~ .bar:after {
  width: 50%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.floating-textarea {
  min-height: 30px;
  max-height: 260px;
  overflow: hidden;
  overflow-x: hidden;
}

/* highlighter */
.highlight {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 15%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
.floating-input:focus ~ .highlight,
.floating-select:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* animation */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}

/****  floating-Lable style end ****/
/***   daniel - Fork me friend - style   ***/
.floating-credit {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #aaa;
  font-size: 13px;
  font-family: arial, sans-serif;
}

.floating-credit a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.floating-credit a:hover {
  border-bottom: 1px dotted #f8f8f8;
}

.floating-heading {
  position: fixed;
  color: #aaa;
  font-size: 20px;
  font-family: arial, sans-serif;
}

/***  daniel - Fork me friend - style  ***/
@media only screen and (min-width: 320px) and (max-width: 465px) {
  #predict-fututre #img-bg-circle {
    display: none;
  }
  /*Home css*/
  /*----Home Css ----*/
  .home-content-box-inner h1 {
    font-size: 1.65rem;
    margin-bottom: 1.5rem;
  }
  .home-content-box-inner h4 {
    font-size: 1rem !important;
    margin: 0 auto;
    width: 80%;
  }
  .home_desc {
    width: 350px;
  }
  /*----Home Css ----*/
  .img-bg-circle {
    display: none;
  }
  .content-header-container h2 {
    font-size: 1.4rem !important;
  }
  .content-header-body p {
    font-size: 0.9rem !important;
    width: 100% !important;
    text-align: center;
    line-height: 1.5;
  }
  .card-title {
    font-size: 1rem !important;
  }
  .card.text p label {
    width: 70% !important;
    font-size: 0.85rem;
  }
  /*clients list*/
  .client-list li {
    width: 50%;
  }
  .client_icon {
    width: 100px;
  }
  /*testimonials*/
  .item {
    width: 100%;
    padding: 30px 20px;
  }
  .item .testimonial-container h4 {
    height: auto;
    font-size: 0.7rem;
    line-height: 2;
  }
  .item .testimonial-container .testimonial-footer h5 {
    font-size: 0.7rem;
    top: 5px;
  }
  .item .testimonial-container .testimonial-footer h5 span {
    font-size: 0.8rem;
  }
  /*predict-future*/
  /*strategy-future*/
  .btn-business {
    font-size: 12px;
  }
  .future-header {
    width: 100%;
  }
  .future-text {
    width: 100%;
  }
  .future-text p {
    font-size: 1.25rem;
  }
  .point-list li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .point-list .acheiver-container {
    width: 100%;
  }
  .capabilty .point-list .acheiver-container {
    width: 100%;
  }
  .capability-width .do-list {
    width: 100%;
  }
  .do-list {
    margin: 0 auto;
    width: 100%;
  }
  .do-list li {
    margin-bottom: 20px;
  }
  .do-list .btn-more {
    margin-top: 0px;
  }
  /*strategy-future*/
  /*Abouts us */
  .propl-about-container {
    height: 8.5rem;
  }
  .love-list li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 0px;
  }
  .love-list li .list-container .text {
    width: 100%;
    height: 4rem;
  }
  .contact-container {
    width: 100%;
  }
  .contact-container .contact-box {
    width: 100%;
  }
  .contact-container .get-in-touch-bg img {
    height: 125px;
    overflow: visible;
    margin: 10px 30px 0px 15px;
  }
  .contact-container .text-container p {
    margin: 0;
    width: 100%;
    font-size: 0.8rem;
  }
  .contact-container .text-container .btn-more {
    width: auto;
    margin-top: 5px;
    font-size: 0.7rem;
  }
  .contact-left {
    display: none;
  }
  .modal-content {
    padding: 10px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
  #predict-fututre #img-bg-circle {
    right: 90%;
  }
  .card {
    z-index: 9999;
    background: transparent;
  }
  /* h4 {
    font-size: 1.009rem;
  }
  p {
    font-size: 0.1rem;
  } */
}

@media only screen and (min-width: 800px) {
  #predict-fututre #img-bg-circle {
    right: 90%;
  }
  .card {
    z-index: 9999;
    background: transparent;
  }
  /* h4 {
    font-size: 1.2rem;
  } */
}

@media (min-width: 320px) and (max-width: 478px) {
  section:nth-child(2) {
    margin-top: 100px;
  }
  #home-navbar {
    display: none;
  }
  #mobile-navbar {
    display: block;
  }
  #mobile-navbar nav {
    position: absolute;
    width: 100%;
    height: 8%;
    background-color: #0b1120;
  }
  #home {
    margin: 0 !important;
  }
  #overlay-button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: 26px 11px;
    z-index: 5;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  #overlay-button span {
    height: 4px;
    width: 25px;
    border-radius: 2px;
    background-color: white;
    position: relative;
    display: block;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  #overlay-button span:before {
    top: -10px;
    visibility: visible;
  }
  #overlay-button span:after {
    top: 10px;
  }
  #overlay-button span:before, #overlay-button span:after {
    height: 4px;
    width: 25px;
    border-radius: 2px;
    background-color: white;
    position: absolute;
    content: "";
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  input[type=checkbox] {
    display: none;
  }
  input[type=checkbox]:checked ~ #overlay {
    visibility: visible;
  }
  input[type=checkbox]:checked ~ #overlay-button:hover span, input[type=checkbox]:checked ~ #overlay-button span {
    background: transparent;
  }
  input[type=checkbox]:checked ~ #overlay-button span:before {
    -webkit-transform: rotate(45deg) translate(7px, 7px);
            transform: rotate(45deg) translate(7px, 7px);
    opacity: 1;
  }
  input[type=checkbox]:checked ~ #overlay-button span:after {
    -webkit-transform: rotate(-45deg) translate(7px, -7px);
            transform: rotate(-45deg) translate(7px, -7px);
  }
  #overlay {
    height: 100vh;
    width: 100vw;
    background: #050505fa;
    z-index: 2;
    visibility: hidden;
    position: fixed;
  }
  #overlay.active {
    visibility: visible;
  }
  #overlay ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;
  }
  #overlay ul li {
    padding: 1em;
  }
  #overlay ul li a {
    color: white;
    text-decoration: none;
    font-size: .8em;
  }
  #business-design-sprint .img-container,
  #business-design-sprint .img-border,
  #solution-design .img-container,
  #solution-design .img-border,
  #solution-delivery .img-container,
  #solution-delivery .img-border,
  #growth-strategy .img-container,
  #growth-strategy .img-border,
  #growth-experiments .img-container,
  #growth-experiments .img-border,
  #entrepreneur-residence .img-container,
  #entrepreneur-residence .img-border,
  #innovation-transformation .img-container,
  #innovation-transformation .img-border,
  #experiential-learning .img-container,
  #experiential-learning .img-border {
    display: none;
  }
  #business-design-sprint .card,
  #solution-design .card,
  #solution-delivery .card,
  #growth-strategy .card,
  #growth-experiments .card,
  #entrepreneur-residence .card,
  #innovation-transformation .card,
  #experiential-learning .card {
    margin-left: 0 !important;
    width: 100% !important;
  }
  #business-design-sprint .card .card-body,
  #solution-design .card .card-body,
  #solution-delivery .card .card-body,
  #growth-strategy .card .card-body,
  #growth-experiments .card .card-body,
  #entrepreneur-residence .card .card-body,
  #innovation-transformation .card .card-body,
  #experiential-learning .card .card-body {
    width: 100% !important;
    padding-right: 0 !important;
  }
  #business-design-sprint .card .card-body .card-title,
  #solution-design .card .card-body .card-title,
  #solution-delivery .card .card-body .card-title,
  #growth-strategy .card .card-body .card-title,
  #growth-experiments .card .card-body .card-title,
  #entrepreneur-residence .card .card-body .card-title,
  #innovation-transformation .card .card-body .card-title,
  #experiential-learning .card .card-body .card-title {
    font-size: 1.2rem !important;
  }
  #business-design-sprint .card .card-body .card-body-text,
  #solution-design .card .card-body .card-body-text,
  #solution-delivery .card .card-body .card-body-text,
  #growth-strategy .card .card-body .card-body-text,
  #growth-experiments .card .card-body .card-body-text,
  #entrepreneur-residence .card .card-body .card-body-text,
  #innovation-transformation .card .card-body .card-body-text,
  #experiential-learning .card .card-body .card-body-text {
    font-size: 0.8rem;
  }
  #desirable {
    padding-bottom: 40px;
  }
  #desirable h3 {
    font-size: 1.5rem;
  }
  #desirable .card-container {
    height: 170px !important;
    margin: 1rem 0 !important;
    padding: 0 !important;
  }
  #desirable .card-container .card {
    margin: 0 auto;
    width: 75% !important;
    height: 100% !important;
    padding: 0;
    margin: 0 auto;
  }
  #desirable .card-container .card img {
    width: 70px !important;
    height: 70px !important;
  }
  #desirable .card-container .card .card-body {
    font-size: 0.85rem;
    height: 100%;
  }
  #what-to-expect .section-starter {
    margin-top: 75px !important;
  }
  #what-to-expect .divider-bar {
    display: none;
  }
  #what-to-expect .divider-btn {
    margin-top: 20px;
  }
  #what-to-expect .divider-btn .what-we-expect-underline {
    margin: 0 20px;
    width: 50px;
  }
  #what-to-expect .card {
    width: 100% !important;
    height: 100% !important;
    margin: 1rem auto 1rem 0 !important;
    padding: 0 !important;
  }
  #what-to-expect .card .card-body {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  #loved-by .section-starter {
    margin-top: 75px !important;
  }
  .business-footer-underline {
    width: 80vw !important;
    height: 5px !important;
  }
  #footer {
    height: 50rem !important;
  }
  #footer .footer-card {
    text-align: left;
    margin: 0 !important;
  }
  #footer .footer-card ul {
    margin: 0 !important;
  }
  #footer .footer-card li {
    text-align: left;
  }
  #footer .footer-card li a {
    padding: 0;
  }
  #footer #footer-logo-container .footer-img {
    width: 100px;
  }
  #footer #footer-logo-container li:nth-child(3) {
    display: block !important;
  }
  #footer #footer-logo-container li:nth-child(3) a {
    margin: 1rem 0;
  }
  #footer #footer-logo-container .footer-bg-circle {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */