* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  font-size: 20px;
  scroll-behavior: smooth;
}

button {
  outline: none !important;
}

a,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  outline: 0 !important;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  text-decoration: none;
  outline: 0;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}
.btn-back {
  color: black !important;
}
.back-btn {
  margin: 2rem 0 0 .8rem;
}

//font variables
$header-font: MinionPro;
$paragraph-font: ProximaNova;
$paragraph-semi-bold-font: ProximaNovaSemiBold;
//color-variables
$orange: #ff5050;
$text-color: #061134;
@font-face {
  font-family: MinionPro;
  src: url('../Minion\ Web\ Pro\ Bold.ttf');
}

@font-face {
  font-family: ProximaNova;
  src: url('../ProximaNova-Regular.ttf');
}

@font-face {
  font-family: ProximaNovaSemiBold;
  src: url('../ProximaNova-Semibold.ttf');
}
/*mixins for margin 0 auto and custom width*/

@mixin marginAuto($value) {
  margin: 0 auto;
  width: $value;
}

section:nth-child(3) {
  margin-top: 100px;
}

#home-navbar {
  margin-top: 0!important;
}

#mobile-navbar,#mobile-navbar-fixed    {
  display: none;
}

.nav-bg {
  background-image: linear-gradient(to bottom, #0b1120 65%, rgba(11, 17, 33, 0) 77%);
  padding: 0.5rem 10rem;

  .nav-link {
    color: #fff !important;
    font-size: 0.85rem;
    font-family: $paragraph-semi-bold-font;
    margin: 0 0.5rem;
  }
}

.navbar-content {
  width: 100%;
}

.navbar-bg-onscroll {
  height: 4rem;
  font-size: 0.9rem;
  background-color: #ffffff;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
  padding: 2.5rem 8.5rem;
  z-index: 9999;
  .dropdown-menu {
    // position: relative;
    margin-top: 28px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
  }
  .nav-item {
    margin: 0 0.2rem;
  }
  .nav-link {
    font-family: $paragraph-semi-bold-font;
    color: white;
    font-size: 0.85rem;
    margin: 0 0.5rem;
    color: #0b1120 !important;
  }
}

.dropdown-item {
  font-size: 0.8rem;
  font-family: ProximaNova;
}

.navbar-brand img {
  width: 145px;
}   

.nav-item .nav-link:hover {
  color: #ffffff;
  transition: all 0s;
}

.nav-link:hover{
  color: $orange !important;
  .dropdown-icon {
    background-image: url('../images/special_icons/down-arrow-orange.svg') !important;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 9999999;
    width: 20px;
    top: 12px;
    margin-left: 2px;
    -webkit-transition: all 0s;
    transition: all 0s;
  }

  .home-dropdown-icon {
    background-image: url('../images/special_icons/down-arrow-orange.svg') !important;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 9999999;
    top: 3px;
    left: 3px;
    transition: all 0s;
  }
  .custom-dropdown-menu{
    display: block;
  }
}

.nav-underline::after {
  position: relative;
  content: '';
  top: 5px;
  display: block;
  margin: 0 auto;
  width: 55px;
  height: 0.5px;
  border-radius: 10px;
  border-color: #ff5050;
}

.dropdown-icon {
  background-image: url('../images/special_icons/down-arrow-black.svg');
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 9999999;
  width: 20px;
  top: 12px;
  margin-left: 2px;
  -webkit-transition: all 0s;
  transition: all 0s;
}

.home-dropdown-icon {
  background-image: url('../images/special_icons/down-arrow-white.png');
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 9999999;
  top: 3px;
  left: 3px;
  transition: all 0s;
}

// navbar styling end
/* common styling 
for all sections start */

section:not(:nth-child(1)) {
  z-index: -99999999999;
  .card {
    z-index: 1;
  }
}
.card {
  border: 0;
}

.mt50 {
  margin-top: 50px;
}

.mt100 {
  margin-top: 100px;
}
.mb100 {
  margin-bottom: 100px;
}

.card .group-19-icons {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: 0 auto;
}

.col-md-3,
.col-md-4 {
  margin-top: 0.6rem;
}

.btn-more {
  text-align: center;
  width: 120px;
  height: 40px;
  border-color: $orange;
  background-color: $orange;
  border-radius: 15px 0 15px;
  margin-top: 20px;
  font-family: $paragraph-font;
  font-size: 0.75rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background: $orange !important;
    border: none;
  }
}

.underline {
  margin: 0 auto;
  width: 50px;
  height: 4px;
  background-color: $orange;
  border-radius: 10px;
}
/*Home Section styling*/

#home {
  height: 100%;
  width: 100%;
}

#home-cover {
  height: 100vh;
  background-image: url(../images/cover_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 9999;
}

.home-content-box {
  height: 100%;
  width: 100%;
  display: table;
}

.home-content-box-inner {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home_desc {
  width: 700px;
  margin: 0 auto;
}

.home-content-box-inner {
  h1 {
    color: #ffffff;
    font-size: 3.3rem;
    font-family: $header-font;
    line-height: 0.6;
    margin-top: 2rem;
  }
  h4 {
    color: #fff;
    font-family: $paragraph-font, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1.2px;
    line-height: 1.67;
    margin-top: 20px;
  }
}

.go-down-btn {
  img {
    position: relative;
    top: 125px;
    width: 1.7rem;
  }
}
/*===Home Section styling*/
/*Clients*/

.client_icon {
  width: 120px;
}

.client-list {
  float: left;
  clear: both;
  text-align: center;
  padding-bottom: 50px;
  margin: 0;
}

.client-list li {
  list-style: none;
  width: 20%;
  float: left;
  margin-top: 20px;
}

/*===Clients*/
/*testimonials*/

.owl-nav {
  display: none;
}

.owl-dots {
  padding-bottom: 20px;
}

.owl-theme .owl-dots .owl-dot span {
  background: $orange !important;
  opacity: 0.4;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: $orange;
  opacity: 1;
}

.item {
  width: 75%;
  margin: 0 auto;
  padding: 30px 0;
  @include marginAuto(90%);
  padding: 30px 0;
}

.testimonials {
  background-color: rgba(255, 80, 80, 0.06);
  border-top-left-radius: 75px;
  border-bottom-right-radius: 75px;
}

.testimonial-container {
  h4 {
    line-height: 2.27;
    color: $text-color;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: left;
    font-family: $paragraph-font;
    height: 150px;
  }
  .testimonial-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    h5 {
      color: $text-color;
      line-height: 1.5;
      height: 1.9rem;
      font-size: 0.85rem;
      font-weight: 400;
      text-align: left;
      font-family: $paragraph-font;
      position: relative;
      top: 40px;
      span {
        font-family: $header-font;
      }
    }
    .testimonial-footer {
      h5 {
        color: $text-color;
        line-height: 1.5;
        height: 1.9rem;
        font-size: 1rem;
        font-weight: 400;
        text-align: left;
        font-family: $paragraph-font;
        span {
          font-weight: bold;
          font-family: $header-font;
        }
      }
    }
  }
}

/*===testimonials*/

/* common styling for all sections end */
/* predict fututre styling start */
.rotate-planets{
animation: bg-circle-rotate 6s linear infinite;

}
#predict-fututre .img-bg-circle {
  position: absolute;
  right: 90%;
  z-index: 10;
  img {
    width: 350px;
    height: 350px;
    margin-top: 50%;

  }
}

@keyframes bg-circle-rotate{
 100%{
    transform: rotate(360deg);
  }
}
.content-header-container {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.content-header-body h2 {
  font-size: 1.85rem;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: $text-color;
  font-family: $header-font;
}
#we-believe {
  .content-header-body p {
    @include marginAuto(64%)
  }
}

.content-header-body p {
  font-size: 0.85rem;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: $text-color;
  font-family: $paragraph-font;
  @include marginAuto(75%);
}
.layout-margin {
  @include marginAuto(90%);
}

#predict-fututre .card-title {
  /* font-weight: normal; */
  font-style: normal;
  line-height: 1.76;
  letter-spacing: normal;
  text-align: center;
  color: $text-color;
  font-family: $header-font;
  font-size: 1.1rem;
}

#predict-fututre .card .card-body {
  text-align: center;
  padding: 0.5rem;
}

#predict-fututre .card-body .card-text {
  font-size: 0.8rem;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.82;
  letter-spacing: normal;
  text-align: center;
  color: $text-color;
  margin-top: 15px;
  font-family: $paragraph-font;
  height: 5rem;
}

#predict-fututre h4 {
  font-family: $header-font;
}

/* predict fututre styling end */
/* we believe styling start */

#we-believe {
  width: 100%;
  overflow: hidden;
}

#we-believe {
  .card-body {
    padding: 0.7rem;
  }
}

#we-believe .card-text {
  font-family: ProximaNova;
  font-size: 0.8rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.82;
  letter-spacing: normal;
  text-align: center;
  color: $text-color;
}

#we-believe .img-circle-container {
  position: absolute;
  margin-top: 150px;
  width: 130px;
  right: 0;
  overflow: hidden;
  .img-bg-circle {
    width: 350px;
    overflow: hidden;
    img {
      height: 350px;
      width: 350px;
      overflow: hidden;
    }
  }
}
/* we believe styling end */
/* common footer for all section */
.mt180 {
  margin-top: 180px;
}

#footer {
  background-color: #1a2239;
  overflow: hidden;
  .footer {
    // background-color: red;
    padding-top: 70px;
    // width: 90vw;
    // margin-left: 100px;
    margin: 0 auto;
  }
  .footer-card > ul {
    height: 200px;
    // background-color: grey;
  }
  .footer-card:nth-child(3) > ul {
    margin-left: 3rem;
  }
  .footer-card:nth-child(2) > ul {
    margin-left: 1.5rem;
  }
  .footer-card:nth-child(1) > ul {
    margin-left: 0;
  }
  .item-main {
    font-family: ProximaNova;
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #ff5050;
    .item-span {
      opacity: 0.5;
      font-family: ProximaNova;
      font-size: 10px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.86;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
  }
  .item {
    font-family: ProximaNova;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff !important;
    text-decoration: underline !important;
  }
  #footer-logo-container {
    li {
      width: 90%;
      font-family: ProximaNova;
      font-size: 13px;
      line-height: 2.5;
      text-align: left;
      color: #ffffff;
    }
    .btn {
      color: #ffffff;
      font-size: 12px;
      border-radius: 20px 0 20px 0 !important;
    }

    .footer-copy-right {
      line-height: 1.88 !important;
      text-decoration: underline !important;
      a {
        color: #ffffff;
      }
    }
    .footer-bg-circle {
      position: absolute;
      top: -36%;
      right: -13%;
      bottom: -88%;
    }
  }
}

@import './experience/experience.scss';
@import './experience/experience-2.scss';
@import './capability/capability.scss';
@import './strategy/strategy-future.scss';
@import './experience/experience-1.scss';
@import './capability/capability-1.scss';
@import './strategy/strategy.scss';
@import './strategy/strategy-2.scss';
@import './strategy/strategy-3.scss';
@import './about.scss';
@import './media.scss';
