* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  font-size: 20px;
}
//font variables
$header-font: MinionPro;
$paragraph-font: ProximaNova;
//color-variables
$orange:#ff5050;
$text-color:#061134;
@font-face {
  font-family: MinionPro;
  src: url("../Minion\ Web\ Pro\ Bold.ttf");
}

@font-face {
  font-family: ProximaNova;
  src: url("../ProximaNova-Regular.ttf");
}

/*mixins for margin 0 auto and custom width*/
@mixin marginAuto($value) {
  margin: 0 auto;
  width: $value;
}
/* common styling for all sections start */

.card {
  border: 0;
}

.mt50 {
  margin-top: 50px;
}
.mt100 {
  margin-top: 100px;
}

.card .group-19-icons {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: 0 auto;
}

.col-md-3,
.col-md-4 {
  margin-top: 0.6rem;
}

.btn-more {
  text-align: center;
  width: 120px;
  height: 40px;
  border-color: $orange;
  background-color: $orange;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 20px;
  font-family: $paragraph-font;
  font-size: 0.75rem;
}

.underline {
  margin: 0 auto;
  width: 50px;
  height: 4px;
  background-color: $orange;
  border-radius: 10px;
}

/*Home Section styling*/
#home {
  height: 100%;
  width: 100%;
}

#home-cover {
  height: 100vh;
  background-image: url(../images/rocket-launch-liftoff-long-exposure-23764.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 9999;
}

.home-content-box {
  height: 100%;
  width: 100%;
  display: table;
}

.home-content-box-inner {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home_desc {
  width: 700px;
  margin: 0 auto;
}

.home-content-box-inner {
  h1 {
    color: #ffffff;
    //font-weight: 800;
    font-size: 2.5rem;
    font-family: $header-font;
    letter-spacing: 3.2px;
    text-transform: uppercase;
  }

  h4 {
    color: #fff;
    font-family: "Proxima", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1.2px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
}

/*===Home Section styling*/

/*Clients*/
.client_icon {
  width: 150px;
}

.client-list {
  float: left;
  clear: both;
  text-align: center;
  padding-bottom: 50px;
  margin: 0;
}

.client-list li {
  list-style: none;
  width: 20%;
  float: left;
  margin-top: 20px;
}

/*===Clients*/
/*testimonials*/
.owl-nav {
  display: none;
}
.item {
  @include marginAuto(75%);
  padding: 30px 0;
}
.testimonials {
  background-color: rgba(255, 80, 80, 0.06);
  border-top-left-radius: 75px;
  border-bottom-right-radius: 75px;
}
.testimonial-container {
  h4 {
    line-height: 2.27;
    color: $text-color;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: left;
  }
  .testimonial-footer {
    h5 {
      color: $text-color;
      line-height: 1.5;
      height: 1.9rem;
      font-size: 1rem;
      font-weight: 400;
      text-align: left;
      span {
        font-weight: bold;
      }
    }
  }
}
/*===testimonials*/
/* common styling for all sections end */

/* predict fututre styling start */

#predict-fututre .img-bg-circle {
  position: absolute;
  right: 90%;
  z-index: 10;
  img {
    width: 350px;
    height: 350px;
    margin-top: 50%;
  }
}

#predict-fututre .content-header-container {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

#predict-fututre .content-header-body h2 {
  font-size: 2.2rem;
  font-weight: bolder;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: $text-color;
  font-family: $header-font;
}

#predict-fututre .content-header-body > p {
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: $text-color;
  font-family: $paragraph-font;

}

#predict-fututre .card-title {
  /* font-weight: normal; */
  font-style: normal;
  line-height: 1.76;
  letter-spacing: normal;
  text-align: center;
  color: $text-color;
  font-family: $header-font;
}

#predict-fututre .card .card-body {
  text-align: center;
}

#predict-fututre .card-body .card-text {
  /* font-size: .9rem; */
  /* font-weight: 400; */
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.82;
  letter-spacing: normal;
  text-align: center;
  color: $text-color;
  margin-top: 15px;
  font-family: $paragraph-font;
  height: 5rem;
}

#predict-fututre h4 {
  /* font-size: 1.17rem; */
  font-weight: 800;
  font-family: $header-font;
  /* font-family: 'Libre Baskerville', serif; */
}

/* predict fututre styling end */

/* we believe styling start */

#we-believe {
  //   margin-top: 200px;
}

#we-believe .content-header {
  /* width: 338px;
    height: 50px; */
  text-align: center;
  font-family: $header-font;
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: $text-color;
}

#we-believe .content-header-body h1 {
  font-family: $paragraph-font;
  /* font-size: 24px; */
  font-weight: 600;
  line-height: 60px;
}
#we-believe {
  .card-body {
    padding: 0.7rem;
  }
}

#we-believe .content-header-body p {
  width: 60%;
  margin: 0 auto;
  font-family: ProximaNova;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
}

#we-believe .card-text {
  font-family: ProximaNova;
  font-size: 0.8rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.82;
  letter-spacing: normal;
  text-align: center;
  color: $text-color;
}

#we-believe .img-bg-circle {
  position: absolute;
  right: 0;
  img {
    height: 350px;
    width: 350px;
  }
}

/* we believe styling end */
