/* strategy future css*/

.strategy-container {
  @include marginAuto(90%);
}
.circle-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110%;
  img {
    width: 20rem;
  }
}
.future-icon {
  img {
    width: 3.5rem;
    margin-top: 1rem;
  }
}

.future-header {
  h2 {
    font-size: 2.5rem;
    font-family: $header-font;
    text-align: left;
  }
}

.underline-left {
  margin: 0;
}

.future-text {
  // width: 75%;
  p {
    font-family: $paragraph-font;
    font-size: 0.9rem;
    color: $text-color;
    line-height: 1.67;
  }
}
.strategy-future {
  .future-header {
    width: 75%;
  }
}

.btn-back {
  font-size: 0.75rem;
  font-family: $paragraph-semi-bold-font;
  img {
    position: relative;
    right: 10px;
    height: 10px;
  }
}

#achieve {
  background: $text-color;
  .text-white {
    color: #fff;
  }
}

.point-list {
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  li {
    display: flex;
    flex: 1 1 50%;
    justify-content: center;
    margin-bottom: 40px;
  }
  .acheiver-container {
    // width: 65%;
    text-align: center;
    margin-bottom: 40px;
    h4 {
      font-family: $paragraph-semi-bold-font;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.47;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      font-size: 1.2rem;
    }
    .btn-points {
      color: $orange;
      img {
        position: relative;
        left: 15px;
      }
    }
  }
}

.do-list {
  // @include marginAuto(90%);
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      display: flex;
      flex: 1 1 33%;
      .card {
        width: 90%;
        &:not(:nth-child(2)) {
          box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.1);
          width: 90%;
        }
        padding: 35px 10px;
        border-radius: 1rem;
        .card-title {
          font-family: $header-font;
          font-size: 1.5rem;
          line-height: 1.25;
          text-align: center;
        }
        .card-body {
          padding: 0.5rem;
          p {
            font-family: $paragraph-font;
            font-size: 0.8rem;
            line-height: 2.08;
            color: $text-color;
            text-align: center;
          }
        }
        .btn-more {
          color: #ffffff !important;
        }
        &:hover {
          cursor: pointer;
          background-color: $orange;
        color: hsl(0, 0%, 100%) !important;
        p {
          color: #ffffff !important;
        }
        .underline {
          background: #ffffff;
        }
        .btn-more {
          background: #ffffff;
          color: $orange !important;
        }
        }
      }
    }
  }
}

.capability-width {
  .do-list {
    @include marginAuto(60%);
  }
}
.p40 {
  padding: 40px;
}
