/* Experience page styling */

#solution-design {
  // .btn-business {
  //   margin-top: 1.5rem;
  // }

  .img-border {
    border: 1.5px solid $orange;
    height: 395px;
    width: 553px;
    position: absolute;
    border-top-left-radius: 75px;
    left: -10px;
    bottom: 27px;
    z-index: -1;
  }
  .img-container {
    img {
      height: 395px;
      width: 557px;
    }
  }
  .card {
    z-index: 1;

    margin-top: 5.3rem;
    margin-left: 32px;
    h1 {
      font-family: MinionWebPro;
      font-weight: bold;
      font-size: 1.9rem;
      line-height: 1.2;
      text-align: left;
      color: #061134;
    }
    .card-body {
      width: 20rem;
      padding-right: 3.5rem;
    }
    p {
      font-family: ProximaNova;
      font-size: 17px;
      font-weight: 500;
      line-height: 2.08;
      text-align: left;
      color: #061134;
      word-wrap: break-word;
    }
  }
}

.solution-design-divider-bar::after {
  height: 18.5rem !important;
}
