/* Experience page styling */

#solution-design {
  .btn-business {
    margin-top: 1.5rem;
  }
  .back-btn {
    font-family: ProximaNova;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.89;
    letter-spacing: normal;
    text-align: left;
    color: #061134;
    margin-top: 2rem;
    margin-bottom: 3rem;
    img {
      width: 10px;
      margin-right: 7px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .img-border {
    border: 1.5px solid $orange;
    height: 395px;
    width: 553px;
    position: absolute;
    border-top-left-radius: 75px;
    left: -10px;
    bottom: 27px;
    z-index: -1;
  }
  .img-container {
    img {
      height: 395px;
      width: 557px;
    }
  }
  .card {
    z-index: 1;

    margin-top: 4.5rem;
    margin-left: 38px;
    h1 {
      font-family: MinionWebPro;
      font-weight: bold;
      font-size: 1.8rem;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      color: #061134;
    }
    .card-body {
      width: 20rem;
      padding-right: 3.5rem;
    }
    p {
      font-family: ProximaNova;
      font-size: 18.5px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.08;
      letter-spacing: normal;
      text-align: left;
      color: #061134;
      word-wrap: break-word;
    }
  }
}

.solution-design-divider-bar::after {
  height: 18.5rem !important;
}
